<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="js/jquery-3.4.1.js"></script>
		<script src="bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>
		<script src="js/vue.js"></script>
		<link rel="stylesheet" href="bootstrap-4.5.0-dist/css/bootstrap.min.css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	</head>
	<body>
		<div id="app">
			<div class="container">
				<div class="card-deck">
					<!-- <div class="col-sm-12 col-xs-6 col-lg-6">
						<div class="card">
							<img src="..." class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">Card title</h5>
								<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
									content. This content is a little bit longer.</p>
							</div>
							<div class="card-footer">
								<small class="text-muted">Last updated 3 mins ago</small>
							</div>
						</div>
					</div> -->
					<div class="row row-cols-1 row-cols-md-1 row-cols-sm-1 row-cols-xl-2 row-cols-lg-2">
						<div class="col mb-6" v-for="(data, i) in searchData" @click="clickSearch(i)">
							<div class="card">
								<div class="row no-gutters">
									<div class="col-md-4">
										<img :src="data.img" class="card-img" alt="data.name">
									</div>
									<div class="col-md-8">
										<div class="card-body">
											<h5 class="card-title">{{data.name}}</h5>
											<p class="card-text">{{data.desc}}</p>
											<p class="card-text"><small class="text-muted">{{data.info[2].value}}</small></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container" style="padding: 50px 0 0 0">
				<div class="btn-toolbar" style="margin: 0px auto;display: table;" role="toolbar" aria-label="Toolbar with button groups">
					<div class="btn-group mr-2" role="group" v-for="i in countPage">
						<button type="button" class="btn btn-secondary" @click="setPage(i)">{{i}}</button>
					</div>
				</div>
			</div>
		</div>
		</div>
		<script type="application/javascript">
			var app = new Vue({
				el: '#app',
				data: {
					searchData: {},
					countPage: 0
				},
				methods: {
					setPage: function(page) {
						let name = getQueryVariable("name");
						$.ajax({
							url: "http://localhost:8080/Read/SearchServlet?name=" + name + "&page=" + page,
							type: 'get',
							datatype: 'json',
							success: function(data) {
								app.searchData = data.data;
								console.log(data);
							}
						});
					},
					clickSearch: function(index) {
						href = 'list.html' + '?id=' + this.searchData[index].id;
						window.open(href, '_blank');
					}
				}
			});

			toastr.options = {
				closeButton: false,
				debug: false,
				progressBar: true,
				positionClass: "toast-top-center",
				onclick: null,
				showDuration: "300",
				hideDuration: "1000",
				timeOut: "3000",
				extendedTimeOut: "1000",
				showEasing: "swing",
				hideEasing: "linear",
				showMethod: "fadeIn",
				hideMethod: "fadeOut"
			};

			function getQueryVariable(variable) {
				var query = window.location.search.substring(1);
				var vars = query.split("&");
				for (var i = 0; i < vars.length; i++) {
					var pair = vars[i].split("=");
					if (pair[0] == variable) {
						return pair[1];
					}
				}
				return (false);
			}

			$(function() {
				function loadData() {
					toastr.info("加载数据中.....");
					let name = getQueryVariable("name");
					$.ajax({
						url: "http://localhost:8080/Read/SearchServlet?name=" + name + "&page=1",
						type: 'get',
						datatype: 'json',
						success: function(data) {
							if (data.code === "0") {
								toastr.error("名字输入错误，请检查名称是否输入正确");
								setTimeout(function() {
									window.opener = null;
									window.open('', '_self');
									window.close();
									toastr.clear();
								}, 3000); //如果搜索名错误,等待5s返回结束当前页面
								return;
							}
							app.searchData = data.data;
							app.countPage = data.countPage;
							console.log(data);
							toastr.clear();
						}
					});
				}
				loadData();
			})
		</script>
	</body>
</html>
